# Use either: yolo, tf1. Default: tf1
MODEL_TYPE=yolo
# Path to the model file, relative to the backend directory. Default: 2019-05-16_faster-rcnn-inception-resnet-v2.pb
MODEL_PATH=/models/rwa_yolo12n_1024.pt